<div class='card'>
  <div class='card-header'>
    <h4>{{title}}</h4>
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col' *ngIf = 'posterUrl'>
        <img id="poster" 
              [src]='posterUrl | poster'>
      </div> 
      <div class='col-8'>
        <span class="text-nowrap">
          <div class='row' *ngIf = 'releaseDate'>         
              <div class='col-6'><h5>Release date:</h5></div>
          </div>
          <div class='row' *ngIf = 'releaseDate'>
            <div class='col-8'>{{releaseDate | date}} </div>          
          </div>   
          <div class='row' *ngIf = 'genres'>
              <div class='col-6'><h5>Genres:</h5></div>
          </div>
        </span>
        <div class='row' *ngIf = 'genres'>
          <div class='col-8'>{{genres}} </div>
        </div>       
      </div>           
    </div>
    <span class="text-nowrap">
      <div class='row' *ngIf = 'genres'>
          <div class='col'><h4>Overview:</h4></div>
      </div>
    </span>
    <div class='row'>
        <div class='col'>{{overview}}</div>
    </div>
    <div class='row' *ngIf = 'videoKey'>
      <div class='col'>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe [src]='videoKey | youtube' frameborder="0" allowfullscreen></iframe>
        </div>
      </div>     
    </div>
    <div class='row' *ngIf='cast && cast.length'>
      <div class='col'><h4>Cast:</h4></div>
    </div>    
    <div class='card-body'>
      <div class='table-responcive'>
          <table class='table'
                *ngIf='cast && cast.length'>        
              <tbody>
                  <tr *ngFor='let actor of cast'>
                      <td width = '50'>
                        <a>
                          <img *ngIf = 'actor.profile_path'
                              [src] = 'actor.profile_path | poster'
                              [title] = 'actor.name'
                              [style.width.px] = 50>
                        </a>
                      </td>
                      <td> {{ actor.name }}  </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>  
  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i>&laquo; Back</i> 
    </button>
  </div>
</div>
