<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
    <tr *ngFor='let movie of movies'>
        <div class="thumbnail">
            <div class="row">
                <div class="col align" >
                        <a [routerLink]= "['/movie', movie.id]">
                            <img id="list-poster" *ngIf = 'movie.poster_path'
                                [src] = 'movie.poster_path | poster'
                                [title] = 'movie.title'>
                            <img id="list-poster" *ngIf = '!movie.poster_path'
                                src = './assets/images/no-movie.jpg'
                                [title] = 'movie.title'>
                        </a>
                </div>        
                <div class="col-10 align" >
                    <h5>
                        <a [routerLink]="['/movie', movie.id]">
                        {{ movie.title }}
                        </a>  
                    </h5>
                    <p>{{ movie.overview }}</p>       
                </div>
            </div>
        </div>
    </tr>
    </div>
</div>
